@model IEnumerable<ChatBot.Models.ScheduleAssignment.MailList>

@{
    ViewData["Title"] = "Mail Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerEmail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerEmail)
                    </td>
                    <td>
                        <a asp-controller="Emails" asp-action="Index" asp-route-id="@item.Id">Mails</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
